package="PlugPowerAnalyser"
version="__VERSION__"
os_min_ver="7.0-40000"
arch="noarch"
description="Self-hosted power monitoring and analytics for Shelly Gen2+ smart plugs. Polls each plug every second, stores telemetry in SQLite, and serves a live dashboard."
maintainer="koduj.dev"
maintainer_url="https://github.com/koduj-dev/plug-power-analyser"
distributor="koduj.dev"
distributor_url="https://github.com/koduj-dev/plug-power-analyser"
support_url="https://github.com/koduj-dev/plug-power-analyser/issues"
displayname="Plug Power Analyser"
startable="yes"
silent_install="yes"
silent_upgrade="yes"
silent_uninstall="yes"
